{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "android>4.0"]
        },
        "exclude": ["@babel/plugin-transform-typeof-symbol"]
      }
    ],
    "@babel/typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "sourceType": "unambiguous"
}
